<p>¡Hola, <%= admin_name %>!</p>

<p>El <%= sold_date %> se ha vendido por primera vez un producto que has creado.</p>

<p> Codigo de producto: <%= product_code %></p>
<p> Codigo de venta: <%= order_code %></p>

<p>Saludos!<p>